#Ignore OSX metadata
*.DS_Store

#Ignore Unity metadata
*.pidb
*.csproj
*.sln
*.userprefs
*.unityproj

#Ignore Unity-Compiled folders
Library
ProjectSettings
Temp

#Ignore non-code folders (Available via SugarSync)
Assets/Materials/
Assets/Models/
Assets/Prefabs/
Assets/Scenes/
Assets/Textures/
Assets/Standard\ Assets
